// Table of Contents
//
// Commons variables
// Components variables

/*
  ========== Commons ==========
*/

// font size
$font-size-base: 1rem;
$font-size-h1: 3rem;
$font-size-h2: 2rem;
$font-size-h3: 1.5rem;
$font-size-body-1: 1rem;
$font-size-body-2: 0.875rem;

// grid system
$grid-gutter-width: 24px;
$grid-gutter-width-mobile: 16px;

// spacing
$spacing-x: 8px;
$spacing-y: 16px;

$spacing-01: 4px;
$spacing-02: 8px;
$spacing-03: 12px;
$spacing-04: 16px;
$spacing-05: 32px;

// border
$border-radius: 8px;

// overlay
$overlay-01: 4%;
$overlay-02: 8%;
$overlay-03: 12%;
$overlay-04: 24%;

/*
  ========== Components ==========
*/

// side-menu
$side-menu-width: 300px;

// header
$header-top-height: 32px;
$header-main-mobile-height: 80px;
