<!DOCTYPE html>
<html>
<head>
  <title>Engine new</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "engine_new/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
